html {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  overflow: hidden;
  background-image: -webkit-radial-gradient(80px 80px, ellipse farthest-corner, #eee, #999);
  background-image: radial-gradient(ellipse farthest-corner at 80px 80px, #eee, #999);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.fork-me {
  display: none; }
  @media screen and (min-width: 500px) {
    .fork-me {
      display: block; } }

svg {
  pointer-events: none; }

em {
  font-weight: bold; }

.pie {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  overflow: hidden; }
  @media screen and (min-width: 500px) {
    .pie {
      font-size: 15vmin;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); } }

.status-text {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  text-align: center; }

.time-counter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -65%);
      -ms-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
  color: #666;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 0px #e5e5e5;
  font-size: 25vmin; }
  @media screen and (min-width: 500px) {
    .time-counter {
      font-size: 15vmin; } }

path.bg {
  fill: #f0f0f0; }
