body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    overflow: hidden;
    background-image: radial-gradient(ellipse farthest-corner at 80px 80px, #eee, #999);
    transform-origin: 50% 50%;
    margin: 0;
}

em {
    font-weight: bold;
}

.status-text {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0vh;
    text-align: center;
}

.time-counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);

    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 15vmin;
    text-shadow: 2px 2px 0px #e5e5e5;
}

path.bg {
    fill: #f0f0f0;
}
