body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

.time-counter {
    color: cadetblue;
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}
