body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    overflow: hidden;
    background-image: radial-gradient(ellipse farthest-corner at 80px 80px, #eee, #999);
    transform-origin: 50% 50%;
    margin: 0;
}

.time-counter {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 15vmin;
    text-shadow: 2px 2px 0px #e5e5e5;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

.pie {
    // filter: drop-shadow(0px 0px 9px #fff);
}

path.bg {
    fill: #eee;
}
